sv_dandan/simple/venv/
sv_dandan/simple/__pycache__/
sv_dandan/core/__pycache__/
sv_dandan/core/conf/__pycache__/
sv_dandan/core/test/__pycache__/
sv_dandan/core/api/__pycache__/
sv_dandan/core/model/__pycache__/
sv_dandan/core/lib/__pycache__/
sv_dandan/core/bll/__pycache__/
